<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ChangeHistoryDao">


    <select id="CH_NM_Select" resultType="String">
        SELECT CONCAT(KOR_NM, '(', USERNAME, ')') AS CH_NM
        FROM Employee
        WHERE USERNAME = #{USERNAME}
    </select>

    <select id="CHD_TARGET_select" parameterType="com.example.demo.dto.ChangeHistorySearchDTO" resultType="java.util.HashMap">
        <choose>
            <when test="TABLENAME == 'Company'">
                SELECT c.CO_NM AS CHD_TARGET_NM
            </when>
            <when test="TABLENAME == 'Employee'">
                SELECT CONCAT(${CHD_TARGET}, '(', USERNAME, ')') AS CHD_TARGET_NM, c.CO_NM AS CHD_TARGET_CO_NM
            </when>
            <otherwise>
                SELECT f.${CHD_TARGET} AS CHD_TARGET_NM, c.CO_NM AS CHD_TARGET_CO_NM
            </otherwise>
        </choose>
        FROM ${TABLENAME} f JOIN Company c on f.CO_CD = c.CO_CD
        WHERE f.${IDENTIFY_COLUMN_NAME} = #{IDENTIFY_VALUE}
    </select>


    <insert id="changeHistoryInset" parameterType="com.example.demo.dto.ChangeHistoryDTO">
        INSERT INTO Change_History (
        EMP_CD, CO_CD, CH_CATEGORY, CH_DT, CH_DIVISION,
        CH_IM, CH_NM, CH_IP, CHD_TARGET_NM, CHD_TARGET_CO_NM
        )
        VALUES (
        #{EMP_CD}, #{CO_CD}, #{CH_CATEGORY}, #{CH_DT}, #{CH_DIVISION},
        #{CH_IM}, #{CH_NM}, #{CH_IP}, #{CHD_TARGET_NM}, #{CHD_TARGET_CO_NM}
        )
    </insert>


    <select id="ChangeHistorySelect" resultType="com.example.demo.dto.ChangeHistoryDTO">
        SELECT CH_DT, CH_DIVISION, CH_IM, CHD_TARGET_NM, CH_NM, CH_IP, CHD_TARGET_CO_NM
        FROM Change_History
        WHERE CH_CATEGORY = #{CH_CATEGORY}
        ORDER BY CH_CD DESC
    </select>

</mapper>